
body{
    background-image: url("img\\popcornback-small.png");
    background-repeat: repeat;
}

#topnav{
    border-bottom: 10px;
    border-radius: 10px 10px 20px 20px;
    text-size-adjust: 50%;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: bold;
}

.custom-carousel-image {
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* This ensures the image covers the entire area without distortion or cropping */
    border-radius:10px 60px;
    margin-top:10px;
}

header{
    height: 350px;
    border-radius: 50px 50px !important;
}

#mainBody{
    min-height: 600px;
    background-color: white;
    margin-top:56px;
    border-radius:10px 60px;
}

footer{
    min-height: 100px;   
    text-align: center;
    color:white;
    margin-top:10px;
    border-radius: 60px 60px 10px 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows:200px 200px 200px 200px;
    grid-gap: 10px 2px;
  }

footer a{
    color:white;
}

footer{
    margin-top: 10px;    
}

footer p{
    display:inline;
    font-size:8px;
}